<div id="disconnect" data-ng-if="!connect">
  <div class="container">
    <div>
      <div>
        <div>
          <h1>Search your favorite SoundCloud like's <br /> has never been easier</h1>
          <button
            class="btn"
            data-ng-click="connectSC()">SoundCloud connect
          </button>
        </div>
      </div>
    </div>

  </div>

</div>


<div data-ng-if="connect">
  <p data-ng-click="logout()"><a href="#/">Logout</a></p>
  <p>Welcome {{ userInfo.firstName }}</p>
  <div>
    <img data-ng-src="{{ userInfo.avatar_url }}" alt="" width="100">
  </div>
  <p>Description {{ userInfo.description }}</p>
  <p>Country: {{ userInfo.country }}</p>
  <p>Website: {{ userInfo.website }}</p>
  <p>City: {{ userInfo.city }}</p>
  <p>Following: {{ userInfo.followings_count }}</p>
  <p>Follower: {{ userInfo.followers_count }}</p>
  <p>Favorite songs {{ userInfo.public_favorites_count }}</p>
  
  <div>
    <ul>
      <li data-ng-repeat="like in likes" data-index="{{$index}}">
        <div plangular="{{like.permalink_url}}">
          <img data-ng-src="{{ like.artwork_url  }}" alt="{{ like.title }}" />
          <p>{{ like.user.username }} - {{ like.title }}</p>
          <button class="btn" data-ng-click="playPause($index)">Play/Pause</button>
          <small>{{ currentTime | hhmmss }} | {{ duration | hhmmss }}</small>
          <progress data-ng-value="currentTime / duration || 0" data-ng-click="seek($event)">
            {{ currentTime / duration || 0 }}
          </progress>
          <img data-ng-src="{{ like.waveform_url }}" alt="waveform" width="400" />
        </div>
      </li>
    </ul>
  </div>
</div>